@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-foncer {
  @apply bg-green-800 text-green-50 font-bold text-lg py-2 px-4 rounded-lg shadow-md
  focus:outline-none active:ring-green-400 focus:ring-green-400 focus:ring-4
  hover:ring-green-400 hover:ring-4 hover:transition-all hover:bg-green-800 
  focus:bg-green-800
}
.btn-danger {
  @apply bg-red-800 text-red-50 font-bold text-lg py-2 px-4 rounded-lg shadow-md
  focus:outline-none active:ring-red-400 focus:ring-red-400 focus:ring-4
  hover:ring-red-400 hover:ring-4 hover:transition-all hover:bg-red-800 
  focus:bg-red-800
}

.btn-clair{
  @apply bg-green-100 text-green-800 font-bold text-lg py-2 px-4 rounded-lg shadow-md
  focus:outline-none active:ring-green-400 focus:ring-green-400 focus:ring-4
  hover:ring-green-400 hover:ring-4 hover:transition-all hover:bg-green-100 
  focus:bg-green-100
}